:root {

  /* ### Primary */

--Purple-600: hsl(238, 40%, 52%);
--Pink-400: hsl(358, 79%, 66%);
--Purple-200: hsl(239, 57%, 85%);
--Pink-200: hsl(357, 100%, 86%);

/* ### Neutral */

--Grey-800: hsl(212, 24%, 26%);
--Grey-500: hsl(211, 10%, 45%);
--Grey-100: hsl(223, 19%, 93%);
--Grey-50: hsl(228, 33%, 97%);
--White: hsl(0, 100%, 100%);
}

body {
  
  background-color: var(--Grey-50);
  /* color: var(--Grey-100); */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {

  background-color: var(--White);
  display: grid;
  grid-template-areas: 
  'info info'
  'contentText contentText'
  'buttonContainer reply'
  ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,min-content);
  width: 32ch;
}

@media (width>800px) {

  .comment {
    grid-template-areas: 
    ' buttonContainer info reply'
    'buttonContainer contentText contentText'
    ;
  }

  .buttonContainer {


  }
}
.info {

  grid-area: info;
}

.contentText {

  grid-area: contentText;
}

.buttonContainer {

  grid-area: buttonContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width>800px) {
  .buttonContainer {

    flex-direction: column;
  }
}

.reply {

  grid-area: reply;
}

/* Form */

form {

  display: grid;
  grid-template-areas: 
  'form__InputTextWrapper form__InputTextWrapper'
  'form__InputImage form__InputButton'
  ;
}

@media (width>800px) {

  form {
    grid-template-areas: 
    'form__InputImage form__InputTextWrapper form__InputButton '
    ;
  }
}
.form__InputImage {

  grid-area: form__InputImage;
}
.form__InputTextWrapper {

  grid-area: form__InputTextWrapper;
}

.form__InputButton {

  grid-area: form__InputButton;
}