:root {

  /* ### Primary */

--Purple-600: hsl(238, 40%, 52%);
--Pink-400: hsl(358, 79%, 66%);
--Purple-200: hsl(239, 57%, 85%);
--Pink-200: hsl(357, 100%, 86%);

/* ### Neutral */

--Grey-800: hsl(212, 24%, 26%);
--Grey-500: hsl(211, 10%, 45%);
--Grey-100: hsl(223, 19%, 93%);
--Grey-50: hsl(228, 33%, 97%);
--White: hsl(0, 100%, 100%);
}

body {
  
  background-color: var(--Grey-50);
  /* color: var(--Grey-100); */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {

  background-color: var(--White);
  display: grid;
  grid-template-areas: 
  'info info'
  'contentText contentText'
  'counter buttons'
  ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,min-content);
  width: 22ch;
}

.info {

  grid-area: info;
}

.contentText {

  grid-area: contentText;
}

.counter {

  grid-area: counter;
}

.buttons {

  grid-row: buttons;
}
.commentContent {

  display: flex;
  justify-content: space-between;

}